<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<script src="https://www.smartone.com/JS_V3/jquery.min.js"></script>
</head>

<body>
	<div id="app"></div>

	<script defer>
		jQuery(document).ready(function () {
			renderTestAjaxHookApp({
				lang: "tchinese",
				container: document.getElementById('app'),
				applicationContext: {
					
				}
			});
		});
	</script>
</body>

</html>